.subscribe {
  margin-left: 93px;
}
.subscribe-form {
  display: flex;
  align-items: baseline;
  margin-top: 20px;
}
.subscribe__headline {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.subscribe-form__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  border-radius: 4px;
  padding: 15px 16px;
  margin-right: 12px;
}
.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  letter-spacing: 0.06em;
  color: #ffffff;
  border: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
.subscribe-button-icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
