.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}
.is-hidden {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}
.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media screen and(max-width:479px) {
    min-width: 320px;
  }
  @media screen and(min-width:480px) {
    width: 450px;
  }
  @media screen and(min-width: 1200px) {
    width: 528px;
  }
}
.modal__headline {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15em;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-title-color);
}
.modal-close-icon {
  width: 18px;
  height: 18px;
}
.modal-close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #ffffff;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 8px;
  margin-right: 8px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-icon:hover {
  fill: #2196f3;
}

.modal-form {
  margin-top: 12px;
}
.modal-form__input-box {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  position: relative;
}
.modal-form__textarea-box {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 1.16em;
  letter-spacing: 0.03em;
  position: relative;
}

.modal-form__input,
.modal-form__textarea-comment {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__input-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form__textarea-comment {
  display: block;
  font-family: inherit;
  resize: none;
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14em;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.modal-form__input:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.modal-form__input:focus + .modal-form__input-icon {
  fill: var(--accent-color);
}
.modal-form__condition-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.7em;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.modal-form__checkbox {
  position: absolute;
  margin-right: 7px;
  -webkit-appearance: none;
}
.modal-form__condition-box-icon {
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 7px;
}
.modal-form__checkbox:checked + .modal-form__condition-box-icon {
  background-color: var(--accent-color);
  border: transparent;
}

.modal-form__condition-link {
  font-size: 14px;
  color: var(--accent-color);
  text-decoration: underline;
}
.form-submit-button {
  margin: 0 auto;
  width: 200px;
  height: 50px;
  background-color: var(--accent-color);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8em;
  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  border-radius: 4px;
  border: transparent;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-submit-button:focus,
.form-submit-button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}
