.filter__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--text-title-color);
}
.filter {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
  @media screen and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
.filter__button {
  background-color: var(--secondary-accent-color);
  color: var(--text-title-color);
  font-family: Roboto;
  font-weight: 500;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--secondary-text-color);
    /* shadow-middle */

    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
.filter__item {
  @media screen and (max-width: 767px) {
    margin-bottom: 15px;
  }
  margin-right: 8px;
  &:last-child {
    margin-right: 0;
  }
}
