.team {
  // display: flex;
  justify-content: center;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -15px;
  }
}
.team-section {
  background-color: var(--secondary-accent-color);
  @media screen and(max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.team__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  background: #ffffff;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  // &:last-child {
  //   margin-right: 0;
  //   margin-bottom: 0;
  // }
  @media screen and (min-width: 768px) {
    max-width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
}
.team__item:last-child {
  @media screen and (min-width: 1199px) {
    margin-right: 0px;
  }
}
.team__title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--text-title-color);
  margin-bottom: 10px;
}
.team__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.team__thumb {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-social {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.team-social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: rgba(33, 150, 243, 1);
  }
}
.team-social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.team-social__icon {
  display: flex;
  align-items: center;
  width: 20px;
  height: 20px;
  fill: rgba(175, 177, 184, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  .team-social__link:hover &,
  .team-social__link:focus & {
    fill: white;
  }
}
